/* --- ANIMAÇÃO REVEAL --- */
.reveal-wrapper {
    opacity: 0;
    transform: translateY(40px);
    /* Começa 40px mais para baixo */
    transition: opacity 0.8s cubic-bezier(0.16, 1, 0.3, 1), transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: opacity, transform;
    /* Otimiza a performance da placa de vídeo */
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    /* Volta para a posição original suavemente */
}